fishd.*


# Fish config
config/fish/fish_history
config/fish/fish_variables

.DS_Store

# tmux
config/tmux/plugins

# git
git/gitconfig.local.symlink

# Fish local config
config/fish/functions
config/fish/conf.d
config/fish/completions
